{% extends 'itgdb_site/base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ pack.name }}{% endblock %}

{% block head_extra %}
<link href="{% static 'itgdb_site/pack_detail.css' %}" rel="stylesheet" />
<link href="{% static 'itgdb_site/tables.css' %}" rel="stylesheet" />
{% endblock %}

{% block body_extra %}
{% if pack.banner %}
  {% with im=pack.banner.get_thumbnail %}
    {% include 'itgdb_site/components/blurred_bg.html' with bg_url=im.url %}
  {% endwith %}
{% endif %}
{% endblock %}

{% block content %}
<h1 class="text-center mb-4">{{ pack.name }}</h1>

<div class="row p-2 g-4">
  <div class="col-12 col-md-6">
    <div class="row g-3">
      <div class="col-12 col-sm-6 col-md-12">
        {% if pack.banner %}
        <img class="w-100 border shadow" src="{{ pack.banner.image.url }}" />
        {% endif %}
      </div>
      <div class="col-12 col-sm-6 col-md-12">
        <table class="table table-sm info-table">
          {% if pack.author %}
          <tr>
            <th scope="row">Author(s)</th>
            <td>{{ pack.author }}</td>
          </tr>
          {% endif %}
          {% if pack.release_date %}
          <tr>
            <th scope="row">Release date</th>
            <td>{{ pack.release_date|date }}</td>
          </tr>
          {% endif %}
          {% if pack.category %}
          <tr>
            <th scope="row">Category</th>
            <td>
              {% include 'itgdb_site/components/category_badge.html' with category=pack.category %}
              {{ pack.category.name }}
            </td>
          </tr>
          {% endif %}
          <tr>
            <th scope="row">Songs</th>
            <td>{{ songs.count }}</td>
          </tr>
          <tr>
            <th scope="row">Charts</th>
            <td>{{ chart_count }}</td>
          </tr>
        </table>

        <p class="mb-1">
        {% for link_label, link_url in links %}
          <a href="{{ link_url }}" target="_blank" rel="noopener noreferrer">
              {{ link_label }}
          </a>
          {% if not forloop.last %}
            &#x2022;
          {% endif %}
        {% endfor %}
        </p>
        <p>
        {% for tag in pack.tags.all %}
          {% include 'itgdb_site/components/tag.html' with tag=tag%}
        {% endfor %}
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <h4 class="mb-3">Difficulty distribution</h4>
    {% if difficulty_data.1.datasets and difficulty_data.2.datasets %}
    <div class="row justify-content-center mb-3">
      <div class="col-5 btn-group" id="diffChartSelect" role="group" aria-label="Choose steps type for graph">
        <input type="radio" class="btn-check" name="diffchartstepstype" id="diffChartSingles" autocomplete="off"
          value="1" checked />
        <label class="btn btn-outline-secondary btn-sm" for="diffChartSingles">Singles</label>
        <input type="radio" class="btn-check" name="diffchartstepstype" id="diffChartDoubles" autocomplete="off"
          value="2" />
        <label class="btn btn-outline-secondary btn-sm" for="diffChartDoubles">Doubles</label>
      </div>
    </div>
    {% endif %}
    <div class="row justify-content-center">
      <div class="difficulty-chart-container">
        <canvas id="difficultyChart"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="pb-1">
{% include 'itgdb_site/components/song_table.html' with is_pack_detail=True %}
</div>

{% endblock %}

{% block script_extra %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1"></script>
{{ difficulty_data|json_script }}
<script type="text/javascript">
  // sort function for bootstrap table
  function customSort(sortName, sortOrder, data) {
    const order = sortOrder === 'desc' ? -1 : 1;
    data.sort(function (a, b) {
      let aa, bb;
      let aElem = document.createElement('div');
      let bElem = document.createElement('div');
      aElem.innerHTML = a[sortName];
      bElem.innerHTML = b[sortName];
      aa = +(aElem.firstChild?.dataset?.sortKey ?? a[sortName]);
      bb = +(bElem.firstChild?.dataset?.sortKey ?? b[sortName]);
      if (a[sortName] === '' && b[sortName] !== '') return 1;
      if (a[sortName] !== '' && b[sortName] === '') return -1;
      if (aa < bb) {
        return order * -1;
      }
      if (aa > bb) {
        return order;
      }
      return 0;
    });
  }

  // difficulty distribution chart
  const difficultyData = JSON.parse(
    document.currentScript.previousElementSibling.textContent
  );
  const ctx = document.getElementById('difficultyChart');
  const diffColors = [];
  const docStyle = getComputedStyle(document.documentElement);
  for (let i = 0; i < 6; i++) {
    const col = `rgba(${docStyle.getPropertyValue(`--itgdb-diff-${i}`)}, 0.6)`;
    diffColors.push(col);
  }
  const chartData = {};
  for (let i = 1; i <= 2; i++) {
    const data = difficultyData[i];
    if (data.datasets.length > 0) {
      chartData[i] = {
        labels: data.labels,
        datasets: data.datasets.map(
          (dataset) => ({
            ...dataset,
            backgroundColor: diffColors[dataset.diff_num],
          })),
      };
    }
  }
  const defaultIdx = chartData[1] ? 1 : 2;

  const chart = new Chart(ctx, {
    type: 'bar',
    data: chartData[defaultIdx],
    options: {
      maintainAspectRatio: false,
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true,
          beginAtZero: true,
          ticks: {
            precision: 0
          }
        }
      },
      animation: {
        duration: 250,
      },
      plugins: {
        tooltip: {
          animation: {
            duration: 150,
          }
        }
      },
    }
  });
  document.documentElement.addEventListener('themeChanged', (e) => {
    const c = e.detail === 'light' ? '#444' : '#bbb';
    const b = e.detail === 'light' ? '#00000010' : '#ffffff10';
    chart.options.plugins.legend.labels.color = c;
    chart.options.scales.x.ticks.color = c;
    chart.options.scales.y.ticks.color = c;
    chart.options.scales.x.grid.color = b;
    chart.options.scales.y.grid.color = b;
    chart.update();
  });
  const diffChartSelect = document.getElementById('diffChartSelect')
  if (diffChartSelect)
    diffChartSelect.addEventListener(
      'click',
      (e) => {
        if (e.target.getAttribute('name') !== 'diffchartstepstype')
          return;
        const stepsTypeIdx = +e.target.value;
        chart.data = chartData[stepsTypeIdx];
        chart.update();
      }
    );
  
    // due to bootstrap-table altering the DOM, we need to enable
    // floating scroll on a different class to get it to work.
    // use .one() to prevent recreating the scrollbar when resorting data
  $('table').one('post-body.bs.table', function() {
    $(".fixed-table-body").floatingScroll();
  });

</script>
{% endblock %}