{% extends 'itgdb_site/base.html' %}
{% load static %}
{% load itgdb_tags %}
{% load mathfilters %}
{% load thumbnail %}

{% block title %}{{ song.title }} {{ song.subtitle }}{% endblock %}

{% block head_extra %}
<link href="{% static 'itgdb_site/song_detail.css' %}" rel="stylesheet" />
<link href="{% static 'itgdb_site/tables.css' %}" rel="stylesheet" />
{% endblock %}

{% block body_extra %}
{% if bg_img %}
  {% thumbnail bg_img "x50" as im %}
    {% include 'itgdb_site/components/blurred_bg.html' with bg_url=im.url %}
  {% endthumbnail %}
{% endif %}
{% endblock %}

{% block content %}
<h1 class="text-center">
  {{ song.title }}
  <span class="song-subtitle">{{ song.subtitle }}</span>
</h1>
<h4 class="text-center mb-4 text-muted">{{ song.artist }}</h4>

<div class="row p-2 g-4 mb-4">
  <div class="col-12 col-sm-6">
    {% if song.banner %}
    <img class="w-100 border shadow" src="{{ song.banner.image.url }}" />
    {% endif %}
  </div>
  <div class="col-12 col-sm-6">
    <table class="table table-sm info-table">
      <tr>
        <th scope="row">Pack</th>
        <td>
          {% include 'itgdb_site/components/pack_ref.html' with pack=song.pack %}
        </td>
      </tr>
      {% if song.release_date %}
      <tr>
        <th scope="row">Release date</th>
        <td>{{ song.release_date|date }}</td>
      </tr>
      {% endif %}
      {% if song.title_translit or song.subtitle_translit %}
      <tr>
        <th scope="row">Transliterated title</th>
        <td>
          {% firstof song.title_translit song.title %}
          <span class="song-subtitle">
            {% firstof song.subtitle_translit song.subtitle %}
          </span>
        </td>
      </tr>
      {% endif %}
      {% if song.artist_translit %}
      <tr>
        <th scope="row">Transliterated artist</th>
        <td>{{ song.artist_translit }}</td>
      </tr>
      {% endif %}
      <tr>
        <th scope="row">Length</th>
        <td>{{ song.chart_length|duration }}</td>
      </tr>
      <tr>
        <th scope="row">BPM</th>
        <td>{{ song|display_bpm }}</td>
      </tr>
      {% if song.credit %}
      <tr>
        <th scope="row">Credit</th>
        <td>{{ song.credit }}</td>
      </tr>
      {% endif %}
      {% if graphics_links %}
      <tr>
        <th scope="row">Graphics</th>
        <td>
        {% for link_label, link_url in graphics_links %}
          <a href="{{ link_url }}">
              {{ link_label }}
          </a>
          {% if not forloop.last %}
            &#x2022;
          {% endif %}
        {% endfor %}
        </td>
      </tr>
      {% endif %}
    </table>
    
    {% if song.has_bgchanges %}
    &#x2728; Contains BG changes</br>
    {% endif %}
    {% if song.has_fgchanges %}
    &#x2728; Contains FG changes</br>
    {% endif %}
    {% if song.has_attacks %}
    &#x2728; Contains attacks</br>
    {% endif %}

    <p class="mb-1">
    {% for link_label, link_url in links %}
      <a href="{{ link_url }}" target="_blank" rel="noopener noreferrer">
          {{ link_label }}
      </a>
      {% if not forloop.last %}
        &#x2022;
      {% endif %}
    {% endfor %}
    </p>
  </div>
</div>

<ul class="nav nav-pills" id="chartTabs" role="tablist">
{% for chart, _ in charts %}
  <li class="nav-item me-1" role="presentation">
    <button
      data-hash="#chart-{{ chart.id }}"
      class="nav-link diff-{{ chart.difficulty }}"
      id="chart-{{ chart.id }}-tab"
      data-bs-toggle="tab"
      data-bs-target="#chart-{{ chart.id }}-panel"
      type="button" role="tab"
      aria-controls="home" aria-selected="true"
    >
      {{ chart|chart_diff_short }}
      <span class="fw-bold">{{ chart.meter }}</span>
    </button>
  </li>
{% endfor %}
</ul>
<div class="tab-content" id="chartTabsContent">
{% for chart, data in charts %}
  <div 
    class="p-3 tab-pane"
    id="chart-{{ chart.id }}-panel"
    role="tabpanel" aria-labelledby="home-tab">
    <div class="row mb-3">
      <div class="col-12 col-sm-6">
        <div class="row mb-1 ps-3 figure-caption">
          Peak density: {{ data.density_data.peak_nps|floatformat }} NPS
          ({{ data.density_data.peak_nps|mul:15|floatformat:"0" }} eBPM)
        </div>
        <div class="row justify-content-center">
          <div class="density-chart-container">
            <canvas id="densityChart{{ chart.id }}"></canvas>
          </div>
        </div>
        <div class="row ps-3 mb-1 figure-caption">
          Streams: {{ data.breakdown }}
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <table class="table table-sm info-table">
        {% for keys, line in chart.get_chart_info.items %}
          <tr>
            <th scope="row">{{ keys|join:'/'|capfirst }}</th>
            <td>{{ line }}</td>
          </tr>
        {% endfor %}
        </table>

        {% if not song.has_attacks and chart.has_attacks %}
        <p>&#x2728; Contains attacks</p>
        {% endif %}
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-sm-6">
        <table class="table table-sm info-table count-table mb-0">
          <tr>
            <th scope="row">Steps</th>
            <td>{{ chart.steps_count }}</td>
          </tr>
          <tr>
            <th scope="row">Max combo</th>
            <td>{{ chart.combo_count }}</td>
          </tr>
          <tr>
            <th scope="row">Jumps</th>
            <td>{{ chart.jumps_count }}</td>
          </tr>
          <tr>
            <th scope="row">Hands</th>
            <td>{{ chart.hands_count }}</td>
          </tr>
        </table>
      </div>
      <div class="col-12 col-sm-6">
        <table class="table table-sm info-table count-table">
          <tr>
            <th scope="row">Mines</th>
            <td>{{ chart.mines_count }}</td>
          </tr>
          <tr>
            <th scope="row">Holds</th>
            <td>{{ chart.holds_count }}</td>
          </tr>
          <tr>
            <th scope="row">Rolls</th>
            <td>{{ chart.rolls_count }}</td>
          </tr>
          <tr>
            <th scope="row">Lifts</th>
            <td>{{ chart.lifts_count }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col=12">
        <table class="table table-sm info-table">
        {% if chart.release_date %}
          <tr>
            <th scope="row">Release date</th>
            <td>{{ chart.release_date|date }}</td>
          </tr>
        {% endif %}
          <tr>
            <th scope="row">Hash</th>
            <td>{{ chart.chart_hash|slice:16 }}</td>
          </tr>
        </table>
      </div>
    </div>

    <h4>Other releases of this chart</h4>
    <div class="pb-1">
    {% include 'itgdb_site/components/chart_table.html' with charts=data.other_releases %}
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}

{% block script_extra %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1"></script>
{{ density_data|json_script:"densityDataJson" }}
<script type="text/javascript">
  $(document).ready(() => {
    'use strict';

    // automatic tab switching based on url ===================================
    // https://github.com/twbs/bootstrap/issues/25220#issuecomment-535915733
    const url = window.location.href;

    function switchTab() {
      const anchor = window.location.hash;
      if (anchor)
        $(`#chartTabs button[data-hash="${anchor}"]`).tab('show');
      else
        $(`#chartTabs li:first-child button`).tab('show');
    }

    // switch to correct tab according to url
    switchTab();
    $(window).on('hashchange', switchTab);

    // set url on tab click
    $('button[role="tab"]').on('click', function() {
      const hash = $(this).attr('data-hash');
      const newUrl = url.split('#')[0] + hash;
      history.replaceState(null, null, newUrl);
    });

    // density charts =========================================================
    const densityData = JSON.parse($('#densityDataJson').text());

    const diffColors = [];
    const docStyle = getComputedStyle(document.documentElement);
    for (let i = 0; i < 6; i++) {
      const col = `rgba(${docStyle.getPropertyValue(`--itgdb-diff-${i}`)}, 0.8)`;
      diffColors.push(col);
    }

    // const peaks = densityData.map((d) => d.peak_nps);
    // const yMax = peaks.reduce((a, b) => Math.max(a, b), 0);
    for (const chartData of densityData) {
      const ctx = $(`#densityChart${chartData.id}`)[0];
      const data = {
        datasets: [{
          fill: 'origin',
          showLine: true,
          data: chartData.points.map(([x, y]) => ({x, y})),
          backgroundColor: diffColors[chartData.diff_num]
        }]
      };

      const chart = new Chart(ctx, {
        type: 'scatter',
        data: data,
        options: {
          maintainAspectRatio: false,
          scales: {
            x: {
              type: 'linear',
              position: 'bottom',
              min: chartData.points[0][0],
              max: chartData.points[chartData.points.length - 1][0],
              ticks: {
                display: false,
              }
            },
            y: {
              max: chartData.peak_nps,
              ticks: {
                display: false,
              }
            }
          },
          elements: {
            point: {
              pointStyle: false,
            },
            line: {
              borderWidth: 1,
            }
          },
          animation: {
            duration: 0,
          },
          plugins: {
            legend: {
              display: false,
            },
            tooltip: {
              animation: {
                duration: 150,
              }
            }
          },
        }
      });

      $(document).on('themeChanged', (e) => {
        const c = e.detail === 'light' ? '#444' : '#bbb';
        const b = e.detail === 'light' ? '#00000010' : '#ffffff10';
        chart.options.plugins.legend.labels.color = c;
        chart.options.scales.x.ticks.color = c;
        chart.options.scales.y.ticks.color = c;
        chart.options.scales.x.grid.color = b;
        chart.options.scales.y.grid.color = b;
        chart.update();
      });
    }
  });
</script>
{% endblock %}