[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "==5.3.6"
django = "==5.1.4"
django-admin-extra-buttons = "==1.5.7"
django-celery-results = "==2.5.1"
psycopg = "==3.1.14"
redis = "==5.0.1"
simfile = "==2.1.1"
boto3 = "*"
django-storages = "*"
pillow = "*"
django-cleanup = "*"
opencv-python-headless = "*"
django-debug-toolbar = "*"
django-mathfilters = "*"
sorl-thumbnail = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
whitenoise = "*"
"mega.py" = "*"
gdown = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
patool = "*"
sentry-sdk = {extras = ["django"], version = "*"}
python-magic = "*"
beautifulsoup4 = "*"

[dev-packages]
localstack = "*"
awscli-local = {extras = ["ver1"], version = "*"}
snakeviz = "*"

[requires]
python_version = "3.10"
