form.search-form .accordion {
    --bs-accordion-btn-padding-x: 1rem;
    --bs-accordion-btn-padding-y: 0.75rem;
    --bs-accordion-body-padding-x: 1rem;
    --bs-accordion-body-padding-y: 0.75rem;
}

form.search-form legend {
    /* legend is big by default, make it normal size */
    font-size: unset;
    margin-bottom: 0;
}

.page-link.fake-page-link {
    color: var(--bs-body-color);
}

.page-link.fake-page-link:hover {
    background-color: inherit;
}

/* Make the difficulty checkboxes inline in the chart search page */
#div_id_diff div.form-check {
    display: inline-block;
    margin-right: 1rem;
}