form.search-form .accordion {
    --bs-accordion-btn-padding-x: 1rem;
    --bs-accordion-btn-padding-y: 0.75rem;
    --bs-accordion-body-padding-x: 1rem;
    --bs-accordion-body-padding-y: 0.75rem;
}

.page-link.fake-page-link {
    color: var(--bs-body-color);
}

.page-link.fake-page-link:hover {
    background-color: inherit;
}