:root {
    --itgdb-row-height: 3rem;
    --itgdb-diff-0: 169, 62, 222;
    --itgdb-diff-1: 78, 176, 63;
    --itgdb-diff-2: 246, 205, 83;
    --itgdb-diff-3: 212, 64, 64;
    --itgdb-diff-4: 67, 147, 213;
    --itgdb-diff-5: 168, 168, 168;
    --itgdb-diff-0-bg: rgb(169, 62, 222);
    --itgdb-diff-1-bg: rgb(78, 176, 63);
    --itgdb-diff-2-bg: rgb(203, 162, 40);
    --itgdb-diff-3-bg: rgb(212, 64, 64);
    --itgdb-diff-4-bg: rgb(67, 147, 213);
    --itgdb-diff-5-bg: rgb(145, 145, 145);
}

.bg-image-container {
    overflow: hidden;
}

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    filter: blur(16px) opacity(50%);
    transform: scale(1.06);
}

.main-content {
    z-index: 999;
    position: relative;
}

a {
    text-decoration: none;
}

.song-artist, .song-subtitle {
    font-size: 0.8em;
}

/* overrides bootstrap tooltip */
.tooltip-inner {
    min-width: 100px;
    max-width: 100%; 
}

table.info-table tr th {
    padding-right: 1em;
}

.badge.category-badge {
    --bs-badge-padding-x: 0.55em;
    color: var(--bs-body-color);
    /* manual vertical center */
    transform: translate(0, -0.08em);
}