#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#top-bar {
  background-color: gray;
  flex: 0 0 auto;
}

#viewport {
  flex: 1 1 auto;
  background-color: #111111;
  /* needed so that viewport size is unaffected by canvas dimensions */
  overflow: hidden; 
}