{% load itgdb_tags %}
{% load thumbnail %}

{% comment %}
Recognized context variables:
- charts (iterator of Chart)
Requires tables.css to be loaded.
{% endcomment %}

{% if charts %}
<div class="table-responsive mb-4 floating-scroll">
  <table class="table align-middle text-center rounded overflow-hidden mb-2">
    <thead>
      <tr>
        <th scope="col" class="bn-col"></th>
        <th scope="col" class="text-start item-name-col">Song</th>
        <th scope="col" class="song-pack-col">Pack</th>
        <th scope="col" class="song-info-col"></th>
        <th scope="col" class="song-diff"></th>
        <th scope="col" class="song-diff"></th>
        <th scope="col" class="text-start chart-desc-col">Description</th>
      </tr>
    </thead>
    <tbody>
    {% for chart in charts %}
      <tr>

        <td class="bn-cell">
        {% if chart.song.banner %}
          {% with im=chart.song.banner.get_thumbnail %}
            <img src="{{ im.url }}" />
          {% endwith %}
        {% endif %}
        </td>

        <td class="lh-sm text-start">
          <a href="{% url 'itgdb_site:song_detail' chart.song.id %}#chart-{{ chart.id }}">
            {{ chart.song.title }}
            <span class="song-subtitle">{{ chart.song.subtitle }}</span>
          </a><br />
          <span class="song-artist text-muted">{{ chart.song.artist }}</span>
        </td>

        <td class="lh-sm">
          {% include 'itgdb_site/components/pack_ref.html' with pack=chart.song.pack %}
        </td>

        <td class="text-start small">
          <span class="opacity-50">
            <i class="bi-calendar3 has-tooltip" data-bs-title="Release date">
            </i>&nbsp;
          </span>
          {% if chart.release_date %}
            {{ chart.release_date|date:'M j, Y' }}
          {% else %}
            <span class="fst-italic text-muted">Unknown</span>
          {% endif %}
          <br />
          {{ chart.song.chart_length|duration }}
          <span class="opacity-25">|</span>
          <span class="opacity-50">BPM</span>
          {{ chart.song|display_bpm }}
        </td>

        <td class="small">
          <span style="color: var(--itgdb-diff-{{ chart.difficulty }}-bg)">
            {{ chart|chart_diff_short }}
          </span>
        </td>

        <td class="song-meter diff-{{ chart.difficulty }}">
          <a
            href="{% url 'itgdb_site:song_detail' chart.song.id %}#chart-{{ chart.id }}"
          >
            {{ chart.meter }}
          </a>
        </td>

        <td class="lh-sm small text-start">
        {% autoescape off %}
          {{ chart|chart_desc_display }}
        {% endautoescape %}
        </td>

      </tr>
    {% endfor %}
    </tbody>

    {% if not charts %}
      <caption class="text-center text-muted fst-italic">No charts!</caption>
    {% endif %}
  </table>
</div>
{% else %}
<div class="row my-4 px-2">
  <div class="col border-top border-bottom p-2 text-center text-muted fst-italic">
    No charts!
  </div>
</div>
{% endif %}