{% load thumbnail %}
{% load mathfilters %}

{% comment %}
Recognized context variables:
- packs (iterator of Pack w/ additional diff_data attributes)
- show_double_nov (bool)
Requires tables.css to be loaded.
{% endcomment %}

{% if packs %}
<div class="table-responsive mb-4 floating-scroll">
  <table class="table align-middle text-center rounded overflow-hidden mb-2">
    <thead>
      <tr class="lh-sm">
        <th scope="col" rowspan="2" class="bn-col"></th>
        <th scope="col" rowspan="2" class="text-start item-name-col">Pack name</th>
        <th scope="col" rowspan="2" class="pack-author-col">Author(s)</th>
        <th scope="col" rowspan="2" class="pack-info-col"></th>
        <th scope="col" colspan="6">Singles</th>
        <th scope="col" colspan="{% if show_double_nov %}6{% else %}5{% endif %}">Doubles</th>
      </tr>
      <tr>
        <th scope="col" class="song-diff">N</th>
        <th scope="col" class="song-diff">E</th>
        <th scope="col" class="song-diff">M</th>
        <th scope="col" class="song-diff">H</th>
        <th scope="col" class="song-diff">X</th>
        <th scope="col" class="song-diff">Ed</th>
        {% if show_double_nov %}
        <th scope="col" class="song-diff">N</th>
        {% endif %}
        <th scope="col" class="song-diff">E</th>
        <th scope="col" class="song-diff">M</th>
        <th scope="col" class="song-diff">H</th>
        <th scope="col" class="song-diff">X</th>
        <th scope="col" class="song-diff">Ed</th>
      </tr>
    </thead>
    <tbody>
    {% for pack in packs %}
      <tr>
        <td class="bn-cell">
        {% if pack.banner %}
          {% with im=pack.banner.get_thumbnail %}
            <img src="{{ im.url }}" />
          {% endwith %}
        {% endif %}
        </td>
        <td class="lh-sm text-start">
          {% include 'itgdb_site/components/pack_ref.html' %} 
          {% for tag in pack.tags.all %}
            {% include 'itgdb_site/components/tag.html' %}
          {% endfor %}
        </td>
        
        <td>
          {% if pack.author %}
            {{ pack.author }}
          {% else %}
            <span class="fst-italic text-muted">Unknown</span>
          {% endif %}
        </td>

        <td class="text-start small">
          <span class="opacity-50">
            <i class="bi-calendar3 has-tooltip" data-bs-title="Release date">
            </i>&nbsp;
          </span>
          {% if pack.release_date %}
            {{ pack.release_date|date:'M j, Y' }}
          {% else %}
            <span class="fst-italic text-muted">Unknown</span>
          {% endif %}
          <br />
          {{ pack.song_count }}
          <span class="opacity-50">song{{ pack.song_count|pluralize }}</span>
        </td>

        {% for data in pack.diff_data %}
          {% if data.steps_type != 2 or data.diff != 0 or show_double_nov %}
            {% if data.song_count %}
              <td
                class="song-meter small diff-{{ data.diff }} has-tooltip"
                style="background: linear-gradient(
                  0deg,
                  rgba(var(--itgdb-diff-color), 0.6) {{ data.song_count|div:pack.song_count|mul:100 }}%,
                  rgba(var(--itgdb-diff-color), 0.2) {{ data.song_count|div:pack.song_count|mul:100 }}%
                );"
                data-bs-title="{{ data.song_count }} chart{{ data.song_count|pluralize }} in this slot"
              >
                {% if data.min_meter == data.max_meter %}
                  {{ data.min_meter }}
                {% else %}
                  {{ data.min_meter }}<span class="text-muted">-</span>{{ data.max_meter }}
                {% endif %}
              </td>
            {% else %}
              <td class="song-meter"></td>
            {% endif %}
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="row my-4 px-2">
  <div class="col border-top border-bottom p-2 text-center text-muted fst-italic">
    No packs!
  </div>
</div>
{% endif %}