{% extends "admin/base_site.html" %}
{% load i18n static admin_list admin_urls %}
{% block content %}
<h1>Progress Tracker</h1>

{% for task_id in task_ids %}
<div class='progress-wrapper-{{ forloop.counter0 }}'>
  <div>Task {{ task_id }}</div>
  <div id='progress-bar-{{ forloop.counter0 }}'>&nbsp;</div>
  <div id="progress-bar-message-{{ forloop.counter0 }}"></div>
</div>
{% endfor %}

<script src="{% static 'admin/progress_bar.js' %}"></script>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    const progressController = new ProgressBarController("/ws/progress");

    const taskIds = [
      {% for task_id in task_ids %}
      "{{ task_id }}",
      {% endfor %}
    ];

    for (let i = 0; i < taskIds.length; i++) {
      const bar = new ProgressBar({
        barElem: document.getElementById("progress-bar-" + i),
        barMessageElem: document.getElementById("progress-bar-message-" + i)
      });
      progressController.register(taskIds[i], bar);
    }

    progressController.start();
  });
</script>
{% endblock %}